.about__container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  max-width: 60%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.about__container span {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
